@model ListaDeCompras.Models.ListaCompra
    <!--Importamos el modelo-->
@{
    ViewBag.Title = "Ver"; //para que en la pestaña de la web salga este nombre
}

<h2>Tu Compra</h2>

<div class="panel panel-default">
    <div class="panel-heading">Información del producto</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Producto:</dt> <!--Etiqueta-->
            <dd>@Model.producto</dd><!--Valor de la etiqueta anterior-->
            <dt>Comprado:</dt>
       
            <dd class="form-group">
                @Html.CheckBoxFor(x => x.comprado) 

                
</dd>
        </dl> 

    </div>
    <center><a class="btn btn-xs btn-primary" href="~/home/Index">Volver</a></center>
</div>