@model ListaDeCompras.Models.ListaCompra
@{
    ViewBag.Title = "Ver";
}

<h2>Producto</h2>

<div class="panel panel-default">
    <div class="panel-heading">Información del producto</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Producto:</dt>
            <dd>@Model.producto</dd>
            <dt>Comprado:</dt>
            <dd>@(Model.comprado)</dd>
           
        </dl>
    </div>
</div>